<!-- <div>{{ appState$ | async | json}}</div> -->
<div class="container-xl mt-5">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Student <br><span>Management System</span></h2>
          </div>
          <div class="col-sm-6 system-button">
            <button  (click)="printReport()"  type="button" class="btn btn-outline-primary">Print Report</button>
            <a
              href="#addStudentModel"
              class="btn btn-outline-success ms-4 student-add-btn"
              data-bs-toggle="modal"
              >
              <!-- <i class="material-icons">&#xE147;</i> -->
              <span>Add New Student</span></a
            >
            <span>
              <select [(ngModel)]="selectedGender" (ngModelChange)="filterStudents(selectedGender)"  name="gender" class="btn btn-outline-info ms-4" title="Select Gender">
                <option value="ALL">All</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
              </select>
            </span>
          </div>
        </div>
      </div>
      <ng-container
        *ngIf="appState$ | async as appState"
        [ngSwitch]="appState.dataState"
      >
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note item text-center">
            <div class="spinner-boarder text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <table class="table table-dark table-striped table-hover mt-5" id="students">
            <thead>
              <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Student DOB</th>
                <th scope="col">Student Gender</th>
                <th scope="col">Student Age</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr
                *ngFor="
                  let student of appState.appData?.data?.students;
                  let i = index
                "
              >
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.dob }}</td>
                <td>
                  <span
                    class="gender"
                    >{{ student.gender === Gender.MALE ? 'M': student.gender === Gender.FEMALE ? 'F' : 'O'}}</span
                  >
                </td>
                <td>{{ student.age }}</td>
                <td>
                  <a class="delete" data-toggle="modal" style="cursor: pointer;">
                    <i
                      class="material-icons"
                      data-bs-target="#deleteStudentModel"
                      (click)="deleteStudent(student)"
                      >&#xE872;</i
                    >
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert-danger">{{appState.error}}</div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Add Model HTML -->
<div id="addStudentModel" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #studentForm="ngForm" (ngSubmit)="saveStudent(studentForm)" class="bg-dark" >
        <div class="modal-header">
          <h4 class="modal-title">Add Student</h4>
          <button type="button" class="close" data-bs-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label mt-2">Student Name</label>
            <input type="text" ngModel class="form-control" name="name" required />
          </div>
          <div class="form-group">
            <label class="form-label mt-2">Student DOB</label>
            <input type="date" ngModel class="form-control" name="dob"  required />
          </div>
          <div class="form-group">
            <label class="form-label mt-3">Student Gender</label>
            <select class="btn btn-outline-light ms-2" name="gender" ngModel="OTHER" id="studentGender" title="Select Gender" required>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
              </select>
          </div>
        </div>
        <div class="modal-footer footer-button">
          <input type="button" class="btn btn-outline-danger" id="closeModel" data-bs-dismiss="modal" value="Cancel" />
          <input type="submit" [disabled] ="studentForm.invalid || (isLoading$ | async) " class="btn btn-outline-success" value="Add" />
          <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
          <span *ngIf="isLoading$ | async" class="sr-only">Saving...</span>
        </div>
      </form>
    </div>
  </div>
</div>

